{% extends 'books/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    {% if book.publication_year %}
        <p><strong>Published:</strong> {{ book.publication_year }}</p>
    {% endif %}
    {% if book.isbn %}
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
    {% endif %}

    <p class="mt-4">
        <a href="{% url 'book_edit' book.pk %}" class="btn btn-info">Edit Book</a>
        <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Delete Book</a>
        <a href="{% url 'book_list' %}" class="btn btn-secondary">Back to List</a>
    </p>
{% endblock %}